/* #282828 
Vitamin C           #ff9900 -> #7a5af5 and #282828
Caribbean Green     #00cc99 -> 
Luscious Lemongrass #597931
Serpentine Shadow   #003300 -> #121212
Option                      -> #3f3f3f
White text                  -> #D7DADC
*/

body {

  opacity: 0;

  background-color: #121212;
  font-family: Arial;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100dvw;
  height: 100dvh;

  overflow-x: hidden;

}

.user-options {

  display: flex;
  flex-direction: row;

  /* justify-content: center; */
  align-items: center;

  background-color: #7a5af5;
  color: white;

  font-weight: bold;

  border: none;
  border-radius: 1000px;

  position: fixed;
  top: 1.25vh;
  right: 2.4vw;

  z-index: 50;

  padding: 1vh 3vw 1vh 3vw;

  width: auto;
  height: auto;

  transition: background-color 0.25s;

  cursor: pointer;

}

.user-options:hover {

  background-color: #F55A7A;

}

.user-name {

  margin: 0px 1.5vw 0px 0px;
  padding: 0px 0px 0px 0px;

}

.user-image {

  background-color: white;

  border: solid 2px #7a5af5;
  border-radius: 1000px;

  width: 8vw;
  height: 4.5vh;

}

.user-image svg {

  max-width: 8vw;
  max-height: 4.5vh;

}

.log-out {

  position: fixed;
  top: 2.3vh;
  right: 3vw;

  z-index: 49;

  background-color: rgb(219, 46, 46);

  border: none;
  border-radius: 1000px;

  margin: 0px 0px 0px 0px;
  padding: 1vh 3vw 1vh 3vw;

  transition: top 0.25s;

  width: 6vw;
  height: 3vh;

  cursor: pointer;

}

.log-out svg {

  max-width: 6vw;
  max-height: 3vh;

}

.log-out-transition {

  top: 10vh;

}

.main-container {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100%;
  height: 100%;

}

.card-holder {

  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;

  margin: 0px 0px 0px 0px;
  /* padding: 0px 7vw 0px 7vw; */
  padding: 0px 0px 0px 0px;

  overflow-x: scroll;
  scrollbar-width: none;

  width: 100%;
  height: 80%;

}

.card-holder-zero {

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  overflow-x: scroll;

  width: 100%;
  height: 80%;

}

.tracker-card {

  background-color: #7a5af5;
  white-space: nowrap;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: space-between;
  align-items: center;

  transition: opacity 0.5s;

  margin: 0px 0px 0px 10%;
  padding: 0px 0px 0px 0px;

  width: 80%;
  height: 100%;

  cursor: pointer;

}

.tracker-card-title {

  display: flex;
  flex-direction: row;

  color: white;

  font-weight: bold;
  font-size: large;

  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0px 2.5% 0px 2.5%;
  padding: 4px 0px 4px 0px;

  width: 90%;

}

.tracker-card-title p {

  margin: 0px 1% 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 97%;

}

.option-tracker-card {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 5%;

}

.tracker-option-container {

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);

  font-weight: bold;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}

.tracker-option-box {

  background-color: #3f3f3f;
  color: white;

  overflow-wrap: break-word;

  border-radius: 16px;

  margin: 0px 0px 0px 0px;
  padding: 5vh 10vw 5vh 10vw;

  width: 70%;

}

.tracker-option-info-input {

  outline: none;
  border: none;
  border-radius: 4px;

}

.tracker-option-action {

  display: flex;
  flex-direction: row;

  justify-content: space-around;

  margin: 10% 0px 0px 0px;

}

.edit-tracker, .delete-tracker, .save-tracker, .close-tracker {

  background-color: #7a5af5;
  color: white;

  border: none;
  border-radius: 16px;

  margin: 0px 5% 0px 0px;
  padding: 3% 5% 3% 5%;

  transition: background-color 0.25s;

  width: auto;

  cursor: pointer;

}

.edit-tracker:hover, .delete-tracker:hover, .save-tracker:hover, .close-tracker:hover {

  background-color: #F55A7A;

}

.tracker-content {

  background-color: #282828;

  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  overflow-y: scroll;
  scrollbar-width: none;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 95%;
  height: 95%;

}

.task {

  display: flex;
  flex-direction: row;
  
  flex-shrink: 0;

  background-color: #3f3f3f;
  color: white;

  font-weight: bold;

  border-radius: 8px;

  margin: 8px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 92.5%;
  height: 13vh;

}

.task-todo {
  border: solid 4px #FF6B6B;
}

.task-inpro {
  border: solid 4px #FFCC00;
}

.task-done {
  border: solid 4px #2ECC71;
}

.task-info {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;

  white-space: normal;
  word-wrap: break-word;

  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 3vw;
  /* padding: 2vh 0px 0px 3vw; */

  width: 56%;

}

.task-action {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;

  width: 32%;

}

.task-action select {

  background-color: #2C2C2C;
  color: white;

  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 4px;

  font-weight: bold;

  width: auto;

}

.tracker-controller {

  display: flex;
  flex-direction: row;

  margin: 0px 0px 0px 0px;
  padding: 3% 5% 3% 5%;

  width: 90%;
  height: 5%;

}

.tracker-controller-input {

  flex: 1;

  background-color: #2C2C2C;
  color: white;

  border: none;
  border-radius: 1000px;

  font-size: 16px;

  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 14px;

}

.tracker-controller-input:focus {

  outline: none;

}

.add-task {

  background-color: #F55A7A;
  color: white;

  border: none;
  border-radius: 1000px;

  padding: 0px 0px 0px 0px;

  width: 10%;

}

.create-tracker-card {

  background-color: #3f3f3f;
  white-space: nowrap;

  border: none;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  margin: 0px 10% 0px 10%;
  padding: 0px 0px 0px 0px;

  width: 80%;
  height: 100%;

  cursor: pointer;

}

.create-tracker {

  background-color: #7a5af5;
  color: white;

  font-size: 80px;

  border: none;
  border-radius: 1000px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  transition: background-color 0.25s;

  width: 80px;
  height: 80px;

}

.create-tracker-card:hover .create-tracker {

  background-color: #F55A7A;

}

.input-prompt {

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}

.input-prompt-box {

  background-color: #3f3f3f;
  color: white;

  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 2.5vh 5vw 2.5vh 5vw;

}

.input-prompt-checkbox {

  accent-color: #7a5af5;

  width: 12px;
  height: 12px;

}

.input-prompt-label {

  font-size: 12px;

}

.input-prompt-label:hover, .input-prompt-label:hover .input-prompt-checkbox {

  color: #7a5af5;
  accent-color: #7a5af5;

}

.input-prompt-textbox {

  border: none;
  border-radius: 8px;

  margin: 1vh 0px 0px 0px;
  padding: 4px 0px 4px 6px;

  width: 100%;

}

.input-prompt-textbox:focus {

  outline: none;

}

.input-prompt-buttons {

  display: flex;
  flex-direction: row;

  justify-content: space-around;

  margin: 1vh 0px 0px 0px;

  width: 100%;
  height: 100%;

}

.input-prompt-save, .input-prompt-cancel {

  background-color: #7a5af5;
  color: white;

  font-size: 14px;
  font-weight: bold;
  font-family: Arial;

  border: none;
  border-radius: 100px;

  margin: 0px 0px 0px 0px;
  padding: 6px 12px 6px 12px;

  transition: background-color 0.5s;

  cursor: pointer;

}

.input-prompt-save:hover, .input-prompt-cancel:hover {

  background-color: #F55A7A;

}

.traverse-left-button {

  position: fixed;
  bottom: 50%;
  left: 1%;

  background-color: #7a5af5;

  border-radius: 10px;

  z-index: 10;

  transition: bottom 0.25s, left 0.25s, width 0.25s, background-color 0.25s;

  width: 8%;

}

.traverse-left-button:hover {

  background-color: #F55A7A;
}

.traverse-left-button:active {
  
  bottom: 48%;
  left: 2%;

  width: 6%;

}

.traverse-right-button {

  position: fixed;
  right: 1%;
  bottom: 50%;

  background-color: #7a5af5;

  border-radius: 10px;

  z-index: 10;

  transition: bottom 0.25s, right 0.25s, width 0.25s, background-color 0.25s;

  width: 8%;

}

.traverse-right-button:hover {

  background-color: #F55A7A;
}

.traverse-right-button:active {
  
  bottom: 48%;
  right: 2%;

  width: 6%;

}

.search-tracker {

  z-index: 24;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 1.25%;

  background-color: #7a5af5;
  color: white;

  border: none;
  border-radius: 1000px;

  width: 50px;
  height: 50px;

  transition: bottom 0.25s, width 0.25s, height 0.25s, background-color 0.25s;

  cursor: pointer;

}

.search-tracker:hover {

  background-color: #F55A7A;

}

.search-tracker-clicked {

  bottom: 1.25%;

  width: 82.5%;
  height: 50px;

}

.search-tracker-search-button {

  z-index: 25;

  margin: 0px 2.5% 0px 0px;
  padding: 0px 0px 0px 0px;

  min-width: 25px;
  min-height: 25px;

  max-width: 10%;
  max-height: 60%;

}

.search-tracker-search-button svg {

  z-index: 25;

  margin: 0px 2.5% 0px 0px;
  padding: 0px 0px 0px 0px;

  min-width: 25px;
  min-height: 25px;

  max-width: 25px;
  max-height: 25px;

}

.search-tracker-input {

  z-index: 25;

  opacity: 1;

  background-color: #2C2C2C;
  color: white;

  outline: none;
  border: none;
  border-radius: 1000px;

  margin: 0px 2.5% 0px 0px;
  padding: 0px 0px 0px 0px;

  transition: display 0.25s, width 0.25s, opacity 0.25s;

  width: 0%;
  height: 60%;

}

.search-tracker-input-transition {

  opacity: 1;

  padding: 0px 0px 0px 3%;
  
  width: 69%;

}

.search-tracker-search-cancel {

  z-index: 25;

  opacity: 0;

  margin: 0px 2.5% 0px 0px;
  padding: 0px 0px 0px 0px;

  transition: display 0.25s, opacity 0.25s, font-size 0.25s;

  font-size: 0px;

}

.search-tracker-search-cancel-clicked {

  opacity: 1;

  font-size: 24px;

}

.search-result-container {

  opacity: 0;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);

  font-weight: bold;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  transition: opacity 0.25s;

}

.search-result-box {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;
  top: 10%;

  background-color: #7a5af5;

  border: solid 2px #7a5af5;
  border-radius: 8px;

  transition: top 0.25s;

  width: 80%;
  height: 80%;

}

.search-result-box-transition-in {

  top: 0%;

}

.search-result-box-transition-out {

  top: 10%;

}

.search-result-title {

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  color: white;

  border-radius: 8px 8px 0px 0px;

  width: 100%;
  height: 4%;

}

.search-result-title-text {

  text-align: center;

  padding: 0px 0px 0px 5%;

  width: 85%;

}

.close-search-result-box {

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background-color: #FF6B6B;

  border-radius: 4px;

  margin: 0px 2.5% 0px 0px;

  width: 5%;

}

.search-result-box-content {

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  background-color: #282828;

  border: none;
  border-radius: 8px;

  overflow-y: scroll;
  scrollbar-width: none;

  padding: 2.75% 0px 0px 0px;

  width: 98.25%;
  height: 93.5%;

}

.search-result-item-container {

  flex-shrink: 0;

  position: relative;

  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;

  background-color: #3f3f3f;
  color: white;

  border-radius: 8px;

  margin: 0px 0px 2% 0px;

  transition: background-color 0.25s;

  width: 95%;
  height: 15%;

}

.search-result-item-container:hover {

  background-color: #F55A7A;

}

.search-result-item-tracker-name {

  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;

  margin: 0px 0px 0px 5%;
  padding: 0px 0px 0px 0px;

  width: 82%;
  height: 100%;

}

.search-result-item-info p {

  word-break: break-all;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

.click-to-redirect {

  position: absolute;
  right: 5%;

  max-width: 7%;
  max-height: 50%;

}

.notification-section {

  z-index: 110;

  position: fixed;
  right: 0%;
  bottom: 20%;

  display: flex;
  flex-direction: column;

  gap: 5%;

  /* width: 40%; */
  width: auto;
  height: auto;

}

.task-completed-banner-container {

  z-index: 110;

  position: relative;
  /* right: -100%; */
  transform: translateX(100%);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;

  background-color: #3f3f3f;
  color: white;

  border: solid 4px #F55A7A;
  border-right: none;
  border-radius: 12px 0px 0px 12px;

  transition: right 0.5s ease-in-out, transform 0.5s ease-in-out;

  margin: 3% 0px 0px 0px;
  padding: 5% 0px 5% 5%;

  /* width: 100%; */
  width: 40vw;
  height: auto;

}

.task-completed-banner-container * {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

.task-completed-banner-container-unhide {

  /* right: 0%; */
  transform: translateX(0%);

}

.reward5XP, .banner-name {

  position: relative;

}

.reward-cover, .banner-name-cover {

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-color: white;

  transition: right 0.5s;

}

.task-completed-banner-container-cover {

  z-index: 111;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-color: #F55A7A;
  /* border-right: none;
  border-radius: 8px 0px 0px 8px; */

  transition: right 0.5s;

}

.reward-cover-unhide, .banner-name-cover-unhide {

  right: 100%;

}

.task-completed-banner-container-cover-unhide {

  right: 100%;

}

.disable {

  pointer-events: none;

}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}