/* 
Vitamin C           #ff9900
Caribbean Green     #00cc99
Luscious Lemongrass #597931
Serpentine Shadow   #003300
*/

body {

  opacity: 0;

  background-color: #003300;
  font-family: Arial;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

}

.main-container {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100vw;
  height: 100vh;

}

.card-holder {

  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  overflow-x: scroll;

  width: 100vw;

}

.tracker-card {

  background-color: white;
  white-space: nowrap;

  border: solid 4px #00cc99;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  transition: opacity 0.5s;

  margin: 0px 0px 0px 24px;
  padding: 0px 0px 0px 0px;

  width: 80vw;
  height: 80vh;

  cursor: pointer;

}

.create-tracker-card {

  background-color: white;
  white-space: nowrap;

  border: solid 4px #00cc99;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  transition: opacity 0.5s;

  margin: 0px 24px 0px 24px;
  padding: 0px 0px 0px 0px;

  width: 80vw;
  height: 80vh;

  cursor: pointer;

}

.create-tracker {

  background-color: #ff9900;
  color: white;

  font-size: 80px;

  border: none;
  border-radius: 1000px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 80px;
  height: 80px;

}

.create-tracker-card:hover {

  opacity: 0.8;

}

.tracker-container {

  background-color: white;

  border: solid 4px #00cc99;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 80vw;
  height: 80vh;

}



.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}