/* 
Vitamin C           #ff9900
Caribbean Green     #00cc99
Luscious Lemongrass #597931
Serpentine Shadow   #003300
*/

body {

  opacity: 0;

  background-color: #003300;
  font-family: Arial;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

}

.main-container {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 100vw;
  height: 100vh;

}

.card-holder {

  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;

  margin: 0px 0px 0px 0px;
  /* padding: 0px 7vw 0px 7vw; */
  padding: 0px 0px 0px 0px;

  overflow-x: scroll;
  scrollbar-width: none;

  width: 100vw;

}

.card-holder-zero {

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  overflow-x: scroll;

  width: 100vw;

}

.tracker-card {

  background-color: #00cc99;
  white-space: nowrap;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: space-between;
  align-items: center;

  transition: opacity 0.5s;

  margin: 0px 0px 0px 24px;
  padding: 0px 0px 0px 0px;

  width: 80vw;
  height: 80vh;

  cursor: pointer;

}
.tracker-card-title {

  color: white;

  font-weight: bold;
  font-size: large;

  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0px 5% 0px 5%;
  padding: 4px 0px 4px 0px;

  width: 90%;

}

.tracker-content {

  background-color: white;

  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  overflow-y: scroll;
  scrollbar-width: none;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 95%;
  height: 95%;

}

.task {

  display: flex;
  flex-direction: row;
  
  flex-shrink: 0;

  background-color: #ff9900;
  color: white;

  font-weight: bold;

  border-radius: 8px;

  margin: 8px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 92.5%;
  height: 10vh;

}

.task-todo {
  border: solid 4px rgb(221, 111, 111);
}

.task-inpro {
  border: solid 4px rgb(235, 218, 70);
}

.task-done {
  border: solid 4px rgb(34, 170, 29);
}

.task-info {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 0px 8px 0px 0px;
  padding: 2vh 0px 0px 3vw;

  width: 56%;

}

.task-action {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;

  width: 32%;

}

.task-action select {

  background-color: #00cc99;
  color: white;

  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 4px;

  font-weight: bold;

}

.tracker-controller {

  display: flex;
  flex-direction: row;

  margin: 0px 0px 0px 0px;
  padding: 3% 5% 3% 5%;

  width: 90%;
  height: 5%;

}

.tracker-controller-input {

  flex: 1;

  border: none;
  border-radius: 1000px;

  font-size: 16px;

  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 14px;

}

.tracker-controller-input:focus {

  outline: none;

}

.add-task {

  background-color: #ff9900;
  color: white;

  border: none;
  border-radius: 1000px;

  padding: 0px 0px 0px 0px;

  width: 10%;

}

.create-tracker-card {

  background-color: #00cc99;
  white-space: nowrap;

  border: solid 4px #00cc99;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  justify-content: center;
  align-items: center;

  margin: 0px 24px 0px 24px;
  padding: 0px 0px 0px 0px;

  width: 80vw;
  height: 80vh;

  cursor: pointer;

}

.create-tracker {

  background-color: #ff9900;
  color: white;

  font-size: 80px;

  border: none;
  border-radius: 1000px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  width: 80px;
  height: 80px;

}

.tracker-container {

  background-color: white;

  border: solid 4px #00cc99;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 80vw;
  height: 80vh;

}

.input-prompt {

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

}

.input-prompt-box {

  background-color: #597931;
  color: white;

  border-radius: 8px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 0px 0px 0px 0px;
  padding: 2.5vh 5vw 2.5vh 5vw;

}

.input-prompt-checkbox {

  accent-color: #00cc99;

  width: 12px;
  height: 12px;

}

.input-prompt-label {

  font-size: 12px;

}

.input-prompt-label:hover, .input-prompt-label:hover .input-prompt-checkbox {

  color: #ff9900;
  accent-color: #ff9900;

}

.input-prompt-textbox {

  border: solid 2px #00cc99;
  border-radius: 8px;

  margin: 1vh 0px 0px 0px;
  padding: 4px 0px 4px 6px;

  width: 100%;

}

.input-prompt-textbox:focus {

  outline: none;

}

.input-prompt-buttons {

  display: flex;
  flex-direction: row;

  justify-content: space-around;

  margin: 1vh 0px 0px 0px;

  width: 100%;
  height: 100%;

}

.input-prompt-save, .input-prompt-cancel {

  background-color: #ff9900;
  color: white;

  font-size: 14px;
  font-weight: bold;
  font-family: Arial;

  border: none;
  border-radius: 100px;

  margin: 0px 0px 0px 0px;
  padding: 6px 12px 6px 12px;

  transition: background-color 0.5s;

  cursor: pointer;

}

.input-prompt-save:hover, .input-prompt-cancel:hover {

  background-color: #00cc99;

}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}